.about {
  background-color: #fff;
}

.education {
  background-color: #ebeced;
}

.sertificate {
  background-color: #fff;
}

.personal_skill {
  background-color: #ebeced;
}

.hire_me {
  background-color: #414242;
  padding-top: 20px;
  padding-bottom: 10px;
}

.my_img {
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

#I_am {
  display: block;
  margin: auto;
  width: 40%;
}

ul {
  list-style: none;
}

li {
  padding-left: 10%;
}

li#secret:before {
  font-family: 'FontAwesome';
  content: '\f21b';
  margin: 0 7px 0 -18px;
}

li#mail:before {
  font-family: 'FontAwesome';
  content: '\f0e0';
  margin: 0 7px 0 -20px;
}

li#phone:before {
  font-family: 'FontAwesome';
  content: '\f10b';
  margin: 0 10px 0 -17px;
  font-size: 1.5em;
}

li#git:before {
  font-family: 'FontAwesome';
  content: '\f113 ';
  margin: 0 10px 0 -19px;
}

li#facebook:before {
  font-family: 'FontAwesome';
  content: '\f082';
  margin: 0 11px 0 -18px;
}

.my_contacts {
  padding-top: 5%;
}

h4 {
  text-decoration: underline;
  text-decoration-color: grey;
  text-decoration-style: solid;
}

.centered {
  text-align: center;
}

#certeficate {
  width: 150px;
  height: 110px;
  display: block;
  margin: auto;
}

@media (min-width: 400px) {
  #I_am {
    width: 100px;
    height: 100px;
  }

  #certeficate {
    width: 255px;
    height: 186px;
  }
}

@media (min-width: 750px) {
  #I_am {
    width: 180px;
    height: 180px;
  }

  #certeficate {
    width: 340px;
    height: 248px;
  }
}

@media (min-width: 1000px) {
  #I_am {
    width: 235px;
    height: 235px;
  }

  #certeficate {
    width: 400px;
    height: 360px;
  }
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  width: 100%;
}
